.form-input:focus + .form-label {
  top: -10px;
  z-index: 10;
  color: #a96f4a;
  font-weight: 900;
}

.form-input:not(:focus):valid + label {
  top: -10px;
  z-index: 10;
  color: #a96f4a;
}
